@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Bodoni Moda', serif;
}

.flex-container {
    display: flex;
}
.gallery {
    justify-content: center;
}

.gallery-panel {
    height: 180px;
    width: 180px;
    margin: 20px;
}
.gallery-panel:hover {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.gallery-panel img, .gallery-panel video {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.navbar {
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}
.navbar h1 {
    font-weight: 900;
    margin-bottom: 5px;
}

.links {
    justify-content: center;
}
.links > * {
    padding: 10px;
    margin: 15px;
}
.links a {
    text-decoration: none;
}
.links a:visited {
    color: blue;
}

.pattern {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 170px;
    padding: 10px;
    z-index: -2;
}

.section {
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 40px 0;
}

.section p {
    text-align: justify;
    text-justify: inner-word;
    color: #363636;
    font-size: 15px;
    font-weight: 200;
    width: 500px;
    margin: 20px auto;
    justify: center;
}

.detail {
    display: none;
}
.detail video {
    height: 300px;
    padding: 20px 10px;
}
video:focus {
    outline: none;
}
.detail h2 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.section a, .section a:visited {
    display: block;
    color: #7c78ff;
    font-weight: 300;
    font-size: 17px;
    margin: 25px 0;
}

p.blockquote {
    font-size: 17px;
    color: grey;
}
